.project {
    transition: 0.3s;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.project:hover {
    box-shadow: var(--shadow-hover);
}

.title,
.text,
.textGreen,
.textYellow,
.textRed,
.creator,
.date {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font-size: 1.2rem;
    height: fit-content;
    margin-bottom: 0;
}

.textGreen {
    color: #4ade80;
    margin-top: 0;
}

.textYellow {
    color: #fcd34d;
    margin-top: 0;
}

.textRed {
    color: #f87171;
    margin-top: 0;
}

.creator,
.date {
    text-align: right;
    color: var(--color-text-dim);
    margin-bottom: 0;
}

.date {
    font-size: 0.8rem;
    padding-right: 2px;
    font-style: italic;
}

.specs {
    border-radius: 0.3rem;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-bg-box);
    color: var(--color-text-box);
}

@media (max-width: 600px) {
    .title {
        font-size: 1rem;
    }

    .text,
    .textGreen,
    .textYellow,
    .textRed,
    .creator {
        font-size: 0.8rem;
    }

    .date {
        font-size: 0.6rem;
    }
}
