.toggle {
    font-size: 1.5rem;
    padding: 0.2rem 0.8rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--color-toggle);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.toggle:focus,
.toggle:focus:not(:focus-visible) {
    outline: none;
}

.toggle:hover {
    box-shadow: 0 0 5px 2px var(--color-toggle);
}

@media (max-width: 600px) {
    .toggle {
        font-size: 1.2rem;
    }
}
