.footercontainer {
    width: 80vw;
    height: fit-content;
    display: block;
    border-top: var(--color-text) solid 1px;
    margin-top: 10rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
}

.footer {
    display: grid;
    width: 80%;
    grid-template-columns: 50% 25% 25%;
}

.footermobile {
    width: 80vw;
    display: none;
}

.footer,
.footermobile {
    font-size: 1rem;
    padding-top: 3rem;
    align-items: center;
    justify-items: center;
}

.footeritemcol,
.footeritemrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}

.footeritemrow {
    flex-direction: row;
}

.footeritemcol p,
.footeritemrow p {
    margin: 0;
}

.subfooteritem {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}

.footerlink {
    transition: 0.3s;
}

.footerlink:hover {
    color: #ffb13d;
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    margin-top: -2rem;
}

@media (max-width: 600px) {
    .footercontainer {
        display: none;
    }

    .footermobile {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: 0.7rem;
        border-top: var(--color-text) solid 1px;
    }

    .subfooter {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
        align-items: center;
        justify-items: center;
        margin: 2rem 0;
    }

    .subfooteritem {
        margin-left: 1rem;
        width: 50%;
    }

    .copyright {
        margin-top: 1rem;
        font-size: 0.5rem;
    }
}
