.footer,
.footermobile {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    width: 80vw;
    margin-top: 10rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    border-top: #696969 solid 1px;
    padding-top: 3rem;
    align-items: center;
    justify-items: center;
}

.footermobile {
    display: none;
}

.footeritemcol,
.footeritemrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}

.footeritemrow {
    flex-direction: row;
}

.footeritemcol p,
.footeritemrow p {
    margin: 0;
}

.subfooteritem {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}

.footerlink {
    transition: 0.3s;
}

.footerlink:hover {
    color: #ffb13d;
}

@media (max-width: 600px) {
    .footermobile {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-top: 5rem;
        font-size: 0.7rem;
    }

    .footer {
        display: none;
    }

    .subfooter {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-bottom: 2rem;
    }

    .subfooteritem {
        margin-left: 1rem;
        width: 50%;
    }
}
