---
import { Toggle, Logo } from "./Theme/Theme";
---

<nav class="topnav">
    <Logo client:only />
    <div class="links">
        <a href="/library" class="link">Library</a>
        <a href="/docs" class="link">Docs</a>
    </div>
    <Toggle client:only />
</nav>

<style>
    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        width: 80%;
        padding: 1rem 0;
        margin: 0;
    }

    .links {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }

    .link {
        font-size: 1rem;
        text-align: center;
        font-weight: 800;
        transition: 0.15s;
    }

    .link:hover {
        color: var(--color-theme);
    }

    @media (max-width: 700px) {
        .topnav {
            padding: 1rem;
            width: 100%;
        }
    }
</style>
