@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
    width: 80%;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
}

.content {
    width: 70vw;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -5rem;
    row-gap: 1rem;
}

.questionWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.answerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.questionBubble,
.answerBubble {
    width: 50%;
    background-color: var(--color-faq-bubble);
    border-radius: 50px 50px 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
}

.answerBubble {
    width: 70%;
    border-radius: 50px 50px 10px 50px;
    margin-bottom: 3rem;
}

.text {
    font-size: 1rem;
    text-align: left;
    margin: 1rem 0;
    color: var(--color-text);
    line-height: 1.5;
}

.button {
    font-size: 1rem;
    outline: none;
    background-color: #ffb13d;
    transition: 0.3s;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.2rem;
    color: #111827;
    width: 50%;
    margin-bottom: 1rem;
}

.button:hover,
.button:focus {
    background-color: transparent;
    border-color: #ffb13d;
    color: var(--color-text);
}

.link {
    font-weight: bold;
    color: #ffb13dbb;
    transition: 0.3s;
}

.link:hover,
.link:focus {
    color: #ffb13d;
}

@media (max-width: 800px) {
    .questionBubble,
    .answerBubble {
        width: 90%;
        padding: 0.5rem 1rem;
    }

    .questionBubble {
        border-radius: 30px 30px 30px 5px;
    }

    .answerBubble {
        border-radius: 30px 30px 5px 30px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }

    .content {
        width: 80vw;
        margin-bottom: 0;
    }

    .text,
    .button {
        font-size: 0.8rem;
    }
}
