@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root,
body[data-theme="light"] {
    --color-bg: #fff;
    --color-bg-box: #000;
    --color-text: #111827;
    --color-text-dim: #111827a0;
    --color-text-box: #e3e3e3;
    --color-toggle: #15232d;
    --color-shadow: #0000004a;
    --color-blur: #ffffffaa;
    --color-blur-border: #0000004d;
    --color-faq-bubble: #f0f0f0;
    --shadow: 0 0 5px 2px var(--color-shadow);
    --shadow-hover: 0 0 10px 4px var(--color-shadow);
}

body[data-theme="dark"] {
    --color-bg: #000;
    --color-bg-box: #232324;
    --color-text: #e3e3e3;
    --color-text-dim: #e3e3e3a0;
    --color-text-box: #e3e3e3;
    --color-toggle: #ffb13d;
    --color-shadow: #ffb13d;
    --color-blur: #000000aa;
    --color-blur-border: #ffffff4d;
    --color-faq-bubble: #232324;
    --shadow: 0 0 5px 2px var(--color-shadow);
    --shadow-hover: 0 0 10px 4px var(--color-shadow);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: background-color 0.25s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
