@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
    --color-theme: #ff6633;
    --color-theme-blur: #ff6633aa;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: background-color 0.25s ease-in-out;
}

html.dark {
    --color-bg: #111111;
    --color-text: #eeeeee;
    --color-text-blur: #eeeeeeaa;

    background-color: var(--color-bg);
    color: var(--color-text);
}

html.light {
    --color-bg: #eeeeee;
    --color-text: #111111;
    --color-text-blur: #111111aa;

    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
