@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maindiv,
.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 75vh;
}

.div {
    background-image: none;
    min-height: fit-content;
}

.titlediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 2rem;
}

.buttondiv {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 80%;
    column-gap: 2rem;
    margin-top: 1rem;
    row-gap: 0;
}

.title,
.smalltitle {
    margin: 0;
    font-size: 6rem;
    text-align: center;
    width: 80%;
    font-family: "Inter", sans-serif;
}

.smalltitle {
    font-size: 3rem;
}

.text,
.subtitle {
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
}

.button,
.buttonwhite {
    background-color: #ffb13d;
    border-radius: 0.4rem;
    transition: 0.3s;
    border: none;
    box-shadow: var(--shadow);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.button {
    color: #111827;
}

.buttonwhite {
    background-color: var(--color-bg);
}

.button:hover,
.buttonwhite:hover {
    box-shadow: var(--shadow-hover);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 70%;
    margin: 0 2rem;
    margin-top: 2rem;
    column-gap: 2rem;
    color: #111827;
}

.griditem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.3rem;
    border: var(--color-text) solid 2px;
    padding: 1.5rem 2rem;
    background-color: #ffb13d;
}

.griditem h6,
.griditem p {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

.fadein {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: center;
    width: 80%;
}

.fadein span {
    animation: fadeEffect 12.5s linear infinite 0s;
    color: #ffb13d;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.fadein span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.fadein span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.fadein span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}

.fadein span:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
}

.fadein span:nth-child(6) {
    animation-delay: 12.5s;
    -ms-animation-delay: 12.5s;
    -webkit-animation-delay: 12.5s;
}

@media (max-width: 800px) {
    .title {
        font-size: 4rem;
        width: 100%;
    }

    .subtitle,
    .fadein {
        width: 100%;
    }

    .maindiv,
    .div {
        min-height: 90vh;
    }

    .buttondiv {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 1rem;
        column-gap: 0;
    }
}

@media (max-width: 600px) {
    .title {
        width: 100%;
        text-align: center;
    }

    .smalltitle {
        font-size: 2rem;
    }

    .titlediv {
        margin: 0 1.5rem;
    }

    .grid {
        width: 90%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 1rem;
        column-gap: 0;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 3.5rem;
    }

    .text,
    .button,
    .buttonwhite,
    .subtitle {
        font-size: 1.2rem;
    }

    .fadein {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .griditem {
        font-size: 1rem;
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(0px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
