@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 6rem;
    text-align: center;
    width: 80%;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
}

@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }
}
