@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg-box);
    color: #fff;
}

.title,
.subtitle,
.date {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

.title {
    font-family: "Inter", sans-serif;
}

.subtitle,
.date {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.date {
    font-size: 1rem;
}

.textGreen {
    color: #4ade80;
    margin-top: 0;
}

.textYellow {
    color: #fcd34d;
    margin-top: 0;
}

.textRed {
    color: #f87171;
    margin-top: 0;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .title {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 0.8rem;
    }

    .date {
        font-size: 0.6rem;
    }
}
